.todo-item {
  display: flex;
  align-items: center;
  padding: 0 10px;

  border: 1px dotted darken(beige, 15%);

  & > p {
    flex-grow: 10;
    word-break: break-all;
    margin: 10px 5px;
  }

  & > button {
    background-color: #f00;
    border-color: #f00;
    color: white;
    border-radius: 50%;
  }
}