.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  & > * {
    width: 100%;
  }

  @media screen and (min-width: 600px){
    width: 80vw;
  }

  @media screen and (min-width: 800px){
    width: 50vw;
  }
}

header{
  text-align: center;
  & > h1 {
    padding: 10px;
  }
  & > p {
    margin-bottom: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: darken(beige, 5%);
  max-height: 100%;
  overflow-y: auto;
}

footer {
  text-align: center;
  margin-bottom: 10px;
  color: lighten(gray, 20%);
}